<!-- Overview -->
<div class="container marg-bot-2">
  <div class="card">
    <h2>Hi, I'm Cameron</h2>
    <p>I'm passionate for leveraging technology to simplify and extend people's lives. I study computer science and management in the M&T program at the UPenn, and spend my free time developing websites, learning new things, and going to new places.</p>
  </div>
</div>

<!-- Education -->
<div class="container marg-bot-2">
  <h4 class="mono bold title">Education</h4>
  {{#each education}}
    <div class="card">
      <h4 class="marg-bot-0">{{this.title}}</h4>
      <p class="mono gray-text subtitle">{{this.startYear}} - {{this.endYear}} / {{this.gpa}} GPA</p>
      <p>{{this.description}}</p>
    </div>
  {{/each}}
</div>

<!-- Experience -->
<div class="container marg-bot-2">
  <h4 class="mono bold title">Experience</h4>
  {{#each experiences}}
    <div class="card">
      <h4 class="marg-bot-0">{{this.title}}, {{this.company}}</h4>
      <p class="mono gray-text subtitle">{{this.startDate}} - {{this.endDate}}</p>
      <p>{{this.description}}</p>
    </div>
  {{/each}}
  <a href="https://drive.google.com/file/d/0BydUbLqE7ydLb00xT3JRVkZqcDQ/view" class="btn btn-primary" target="_BLANK">
    View my resume →
  </a>
</div>

<!-- Technologies -->
<div class="container marg-bot-2">
  <h4 class="mono bold title">Technologies</h4>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card">
        <h4>General Purpose</h4>
        <p>
          JavaScript, Java, Ruby, Hadoop/Map Reduce, React Native, Android, SQL.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <h4>Web Development</h4>
        <p>
          HTML/CSS, React/Redux, Node/Express, Ruby on Rails, AWS, Postgres, MongoDB.
        </p>
      </div>
    </div>
  </div>
  <a href="/projects" class="btn btn-primary">
    Check out my projects →
  </a>
</div>

<!-- Extracurriculars -->
<div class="container">
  <h4 class="mono bold title">Extracurriculars</h4>
  {{#each extracurriculars}}
    <div class="card">
      <h4 class="marg-bot-0">{{this.title}}, {{this.organization}}</h4>
      <p class="mono gray-text subtitle">{{this.startDate}} - {{this.endDate}}</p>
      <p>{{this.description}}</p>
    </div>
  {{/each}}
</div>
