<div>
  <div class="card card-post">
    <div class="body">
      <h1 class="marg-bot-05">{{title}}</h1>
      {{#if subtitle}}
        <h3 class="gray-text subtitle marg-bot-0">{{subtitle}}</h3>
      {{/if}}
      {{#if createdAt}}
        <div class="line"></div>
        <p class="timestamp mono gray-text">
          Posted {{createdAt}}{{#if updatedAt}}, updated {{updatedAt}}{{/if}}
        </p>
      {{/if}}
    </div>
    {{#if image}}
      <img src={{image}} class="img-fluid"></img>
    {{else}}
      <div class="space-1"></div>
    {{/if}}
    <div class="body post serif">
      <!-- Lookup the partial indexed by the post slug -->
      {{> (lookup . 'partial')}}
    </div>
  </div>

  <div class="text-line-behind">
    <div class="line-behind"></div>
    <p>Read More</p>
  </div>

  <div class="row">
    {{#if next}}
      <div class="col-12 col-md-6">
        {{> postPreview next}}
      </div>
    {{/if}}

    {{#if prev}}
      <div class="col-12 col-md-6">
        {{> postPreview prev}}
      </div>
    {{/if}}
  </div>

  <a href="/posts" class="btn btn-primary marg-top-1">
    ← Back to all posts
  </a>
</div>
