<div class="card has-img">
  <img src="img/art/{{image}}" class="card-img" alt="{{title}}">
  <div class="body">
    <h4>{{title}}</h4>
    <p class="marg-bot-05">{{medium}}</p>
    <p class="gray-text timestamp">{{date}}</p>
  </div>
</div>