<div class="card has-img">
  <img src="img/design/{{image}}" class="card-img" alt={{title}}>
  <div class="body">
    <h4>{{title}}</h4>
    <p class="marg-bot-05 mono gray-text timestamp">{{date}}</p>
    <p>{{{description}}}</p>
  </div>
</div>
