<div class="card">
  {{#if image}}
    <img src={{image}} class="img-fluid" />
  {{/if}}
  <h4 class="marg-bot-0">{{title}}</h4>
  <p class="mono gray-text subtitle">{{startYear}} - {{endYear}} / {{gpa}} GPA</p>
  <p>{{description}}</p>
</div>
