<div class="card">
  <div class="flex-container">
    <div class="flex">
      <h4>{{title}}</h4>
      <p class="mono gray-text subtitle">{{startYear}} - {{endYear}} / {{gpa}} GPA</p>
    </div>
    {{#if image}}
      <div style="background-image: url(img/education/{{image}})" class="background-image"></div>
    {{/if}}
  </div>
  <p>{{description}}</p>
</div>
