<div class="card">
  <div class="flex-container">
    <div class="flex">
      <h4 class="marg-bot-05">{{title}}, {{company}}</h4>
      <p class="mono gray-text subtitle">
        {{startDate}} - {{endDate}}
        •
        {{location}}
      </p>
    </div>
    {{#if image}}
      <div class="background-image" style="background-image: url(img/experience/{{image}})"></div>
    {{/if}}
  </div>
  {{{description}}}
</div>
