<div class="card">
  <div class="flex-container">
    <div class="flex">
      <h5>{{title}}, {{organization}}</h5>
      <p class="gray-text subtitle">{{startDate}} - {{endDate}}</p>
    </div>
    {{#if image}}
      <div class="background-image" style="background-image: url(img/extracurriculars/{{image}})"></div>
    {{/if}}
  </div>
  {{{description}}}
</div>
