<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Config meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Cameron Cabo">

    <!-- Open graph tags and twitter tags -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Cameron Cabo">
    <meta property="og:url" content="cameroncabo.com"/>
    <meta property="twitter:url" content="cameroncabo.com"/>

    <!-- Set the page title -->
    {{#if title}}
      <title>{{ title }}</title>
      <meta property="og:title" content={{ title }}>
      <meta property="twitter:title" content={{ title }}>
    {{else}}
      <title>Cameron Cabo</title>
      <meta property="og:title" content="Cameron Cabo">
      <meta property="twitter:title" content="Cameron Cabo">
    {{/if}}

    <!-- Set the page description -->
    {{#if description}}
      <meta name="description" content={{ description }}>
      <meta property="og:description" content={{ description }}>
      <meta property="twitter:description" content={{ description }}>
    {{else}}
      <meta name="description" content="Personal website for Cameron Cabo: driven learner, developer, and product builder.">
      <meta property="og:description" content="Personal website for Cameron Cabo: driven learner, developer, and product builder.">
      <meta property="twitter:description" content="Personal website for Cameron Cabo: driven learner, developer, and product builder.">
    {{/if}}

    <!-- Set the page keywords -->
    {{#if keywords}}
      <meta name="keywords" content={{ keywords }}>
    {{else}}
      <meta name="keywords" content="cameron,cam,cabo,cameroncabo,penn,freelance,web,webdev,website,m&t,jerome,fisher,upenn,pennsylvania,university,harvard,westlake,student,react,javascript,node,developer,dev,rails,ruby,art,design,contact,los,angeles,LA,philly,philadelphia,youthhack,riplo,metric,themetric">
    {{/if}}

    <!-- Set the page image if there is one -->
    {{#if image}}
      <meta property="og:image" content={{image}}>
      <meta property="twitter:image" content={{image}}>
      <meta name="twitter:card" content="summary_large_image"/>
    {{else}}
      <meta name="twitter:card" content="summary" />
    {{/if}}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- App styles -->
    <link rel="stylesheet" href="/index.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,500,700|PT+Serif:400,400i,700" rel="stylesheet">

    <!-- Icons -->
    <script src="https://use.fontawesome.com/297cffcc6b.js"></script>
  </head>
  <body>
    <!-- Wrapper div for the application -->
    <div class="app">
      <!-- Navigation -->
      {{> nav}}

      <!-- App content -->
      <div class="content">
        <div class="container-fluid">
          {{{ body }}}
        </div>
      </div>

      <!-- Footer -->
      {{> footer }}

      <!-- Contact form -->
      <div class="modal fade" tabindex="-1" role="contact" id="contactModal" aria-labelledby="contactModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Contact me</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="contactForm">
              <div class="modal-body">
                <!-- Render a div for error and success messages -->
                <div id="message"></div>

                <!-- Render the form fields -->
                <div class="row">
                  <div class="col-12 col-md-6">
                    <input type="text" name="firstName" class="form-control" placeholder="First" required="true"></input>
                  </div>
                  <div class="col-12 col-md-6">
                    <input type="text" name="lastName" class="form-control" placeholder="Last" required="true"></input>
                  </div>
                </div>
                <input type="email" name="email" class="form-control" placeholder="example@gmail.com" required="true"></input>
                <input type="text" name="subject" class="form-control" placeholder="Subject..." required="true"></input>
                <textarea type="text" name="body" class="form-control" placeholder="Message..." required="true"></textarea>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Send"></input>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Javascripts -->
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="/js/nav-toggle.js"></script>
    <script src="/js/contact.js"></script>

    <script type="text/javascript">
      $('document').ready(function() {
        $('#scroll-to-top').click(function() {
          $('body,html').animate({
              scrollTop: 0
          }, 400);
        });
      });
    </script>
  </body>
</html>
